.myColorLight {
    color: #F2E5E4
}

.myColorMiddle {
    color: #F2B1A2
}

.myColorDark {
    color: #BF907E
}

.myColorGreen {
    color: #748C4F
}

.myBGColorGreen {
    background-color: #748C4F;
    color: white;
}

.myColorGrey {
    color: #656573
}

/* navBar */
#navbar-example2{
    /* border: 1px solid grey; */
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 45%,rgba(255,255,255,0.66) 77%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%);
}

.nav-item>a,
.dropdown-item {
    color: #F2B1A2
}

.nav-item>a:hover,
.dropdown-item:hover {
    color: #BF907E
}

.dropdown-item:hover {
    background-color: #F2E5E4;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
    /* width: auto; */
    position: relative;
    /* height: 100%; */
    /* background-color: #F2E5E4; */
    color: #656573;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

}

a{
text-decoration: none;
}



/* back to top btn */
#backtotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #BF907E;
    padding: 15px;
    clip-path: circle();
    box-shadow: 0px 0px 5px black;
}

#backtotop>a {
    position: relative;
    top: 3px;
    text-decoration: none;
    color: #F2E5E4;
}

#backtotop>a:hover {
    color: white;
    width: 100px;
    transition: all 1s linear;
}

#backtotop:hover{
    transform: scale(110%);
} 

/* typeing */
.type1 {
    width: 12em;
    height: 1.25em;
    border-right: 1px solid transparent;
    animation: typing 2s steps(37, end), blink-caret .75s step-end 3;
    word-break: break-all;
    overflow: hidden;
    overflow-wrap: break-word
}

.type2 {
    width: 10em;
    height: 1.25em;
    border-right: 1px solid transparent;
    animation: typing2 5s steps(37, end), backwards, blink-caret .75s step-end infinite;
    word-break: break-all;
    overflow: hidden;
    overflow-wrap: break-word;
    /* animation-delay: 5s; */
}

@keyframes typing {
    from {
        width: 0;opacity: 0
    }

    to {
        width: 10em;opacity: 1
    }
}

@keyframes typing2 {
    0% {
        width: 0;
        opacity: 0
    }

    50% {
        width: 0;
        opacity: 0
    }

    100% {
        width: 10em;
        opacity: 1
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: currentColor;
    }
}

/* 調整jQuery tabs according color */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #748C4F;
    border: none;
}

.ui-accordion .ui-accordion-header {
    background-color: #748C4F;
    border: none;
}

/* about樣式 */
#about {
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    display: flex;
    font-weight: 100;
}

#about div {
    /* justify-content: center; */
    flex: 1;
    border-radius: 30px;
    height: 100%;
    align-self: end;

}

#about img {
    width: 200px;
    border-radius: 30px;

}

#about p {
    line-height: 1em;
    padding-right: 10px;
    vertical-align: middle;
}

@media screen and (max-width : 500px ){
    
    #about img {
        width: 150px;
        transform: translate(-20px, -30px);
        border-radius: 30px;
    
    }

    #about div {
        /* justify-content: center; */
        flex: 1;
        border-radius: 30px;
        height: 100%;
        align-self: end;
    }
    
    }

#profiletext{
    background-color:white;
    width: 400px;
    line-height: 200px;
    z-index: -1;
    position: relative;
    top: 175px;
    right: 210px;
    box-shadow: 0px 1px 3px dimgrey;
}

#about hr{
    width: 100px;
}

/* title */
.title span{
    margin-right: 5px;
    width: 10px;
    display: inline-block;
    background-color:#BF907E;
}